.section{
    width: 100vw;
    background-color: #6e07f3;
}
.sectionTitle{
    text-align: center;
    color: #fff;
    font-size: 2.6rem;
    padding-top: 3rem 1.2rem;
    max-width: 90%;
}
@media (max-width: 768px) {
    .sectionTitle{
        font-size: 2.4rem;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
}
.projectBlock{
    background-color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: 3rem 3rem;
    gap: 3rem;
}
.skillList{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.skillItem{
    border-radius: 9px;
    border: 1px solid #6e07f3;
    padding: 0.3rem 1rem;
}
.skillItem:hover{
    background-color: #6e07f3;
    color: #fff;
}
.projectImgContainer{

}
.projectDescriptionContainer{
    width: 90%;
    max-width: 700px;
}
.projectImg{
    border-radius: 12px;
}
.titleAndIconContainer{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 2rem;
}
.descriptionParagraphs{
    max-width: 90%;
}
.descriptionParagraph{
    /* max-width: 90%; */
}
@media (max-width: 768px) {
    .projectBlock{
        padding: 2rem 0.2rem;
    }
    .container{
        padding: 3rem 0rem;
    }
}