.section{
    min-height: 10rem;
    width: 100vw;
    background: linear-gradient(to right, #2f1d5a, #1b1033);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    gap: 4rem;
}
.titles{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title{

}
.subtitle{

}
.skillList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.skillBlock{

}
.icon{

}