.section{
    min-height: 100vh;
    width: 100vw;
    /* background-color: #41287B; */
    /* background: linear-gradient(to bottom, #41287B, #362167); */
    /* background: linear-gradient(to bottom, #41287B, #28184d); */
    /* background-color: #6e07f3; */
    background-color: #fff;
    color: #000;
    display: flex;
    width: '100%';
    gap: 3rem;
    align-items: center;
    padding: 3rem;
}
.titlesAndImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
}
.titles{
    padding-top: 6rem;
    display: flex;
    height: 100%;
    gap: 2.2rem;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    color: #41287B;
}
.titles h1{
    font-size: 3.5rem;
}
.titles h2{
    font-size: 1.6rem;
}
.img{
    width: 350px;
    height: 350px;
}